[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "vendor/ImGuiColorTextEdit"]
	path = vendor/ImGuiColorTextEdit
	url = https://github.com/goossens/ImGuiColorTextEdit.git
